<div class="container">
	<h1>Chỉnh sửa thông tin người dùng: <b><%= @user.name %></b> </h1>
	<%= form_for @user do |f| %>
		<!-- Display errors -->
		<% if @user.errors.any? %>
			<div class="row">
				<div class="col-sm-8">
					<div class="alert alert-danger">
						<% @user.errors.full_messages.each do |msg| %>
								&#9679; <%= msg %> <br>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>

		<div class="row">
			<div class="form-group col-sm-8">
				<%= f.label :name, 'Name:' %>  
				<!-- <label for="user_name">Name:</label> -->
				<%= f.text_field :name, { :class => 'form-control' } %>
				<!-- <input type="text" class="form-control" name="user[name]" id="user_name"> -->
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-8">
				<%= f.label :email, 'Email:' %> 
				<%= f.text_field :email, { :class => 'form-control' } %>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-8">
				<%= f.label :gender, 'Gender:' %>
				<%= f.radio_button :gender, '0' %> Nam
				<%= f.radio_button :gender, '1' %> Nữ
				<!-- <input type="radio" value="1" name="user[gender]" id="user_gender_1"> -->
			</div>
		</div>
		<div class="row">
			<!-- <%= f.submit "Save", class: "btn btn-danger" %> -->
			<%= f.button :submit, :class => 'btn btn-danger' do %>
				<i class="fa fa-plus"></i> Save
			<% end %>
			<!-- <button name="button" type="submit" class="btn btn-danger"> <i class="fa fa-plus"></i> Save </button> -->
		</div>
	<% end %>
</div>
