<div class="container">	
	<h1>Danh sách người dùng</h1>

	<table class="table table-bordered table-hover">
		<thead style="background: #53585a; color: #fff;">
			<th>No.</th>
			<th>Name</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Action</th>
		</thead>
		<tbody>
			<!-- Loop Each -->
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.gender == 0 ? 'Nam' : 'Nữ' %></td>
					<td>
						<%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, user_path(user), { :class => "btn btn-sm btn-success", 'data-toggle' => "tooltip", :title => "Info"}  %>
						<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user), { :class => "btn btn-sm btn-primary", 'data-toggle' => "tooltip", :title => "Edit" } %>
						<!-- <a href="users/1/edit"> <i class="fa fa-pencil"></i> </a> -->
						<%= link_to '<i class="fa fa-trash"></i>'.html_safe, user_path(user), method: :delete, :data => { :confirm => "Bạn chắc chắn chứ?" }, :class => 'btn btn-sm btn-danger', 'data-toggle' => "tooltip", :title => "Delete"  %>
					</td>
				</tr>
			<% end %>

		</tbody>
	</table>

	<%= link_to "Thêm người dùng mới", new_user_path, :class => "btn btn-warning" %>
</div>